{include file="public/head"}
  <body>
    <!-- 内容 -->
    <div class="container">
        <div class="row">
            <!-- 表单 -->
            <div class="col-lg-12">
                <h3 class="text-center">分类详情</h3>
                <p><small>分类id：</small> {$cate->id} </p>
                <p><small>分类名称：</small> {$cate->name} </p>
                <p><small>分类所属：</small> {:getName('Category', $cate->pid)} </p>
                <p><small>创建时间：</small> {$cate->create_time} </p>
                <p><small>更新时间：</small> {$cate->update_time} </p>
                <p><small>当前状态：</small> <a href="{:url('Category/status', ['id'=>$cate->id, 'status'=>$cate->status==0?1:0 ])}">{$cate->status|getStatus}</a> </p>
            </div>
        </div>
    </div>

    {include file="public/common_js"}
  </body>
</html> 