{extend name="layout"}
{block name="title"}
<title> 购物车 </title>
{/block}

{block name="content"}
<!-- 物品列表 -->
<section class="cart">
  <form method="POST" action="{:url('Bill/setBill')}">
          <table class="table text-center table-hover table-bordered">
              <thead class="theme-color">
                  <tr>
                      <th width="20%">缩略图</th>
                      <th width="40%">商品名称</th>
                      <th width="10%">商品价格</th>
                      <th class="text-danger ">总价：￥ <span class="totalPrice">0.00</span></th>
                  </tr>
              </thead>
              <tbody class="deal-list">
              </tbody>
          </table>
          <div class="buy">
              <button type="submit" class="btn btn-success btn-lg btn-block">
                  <i class="fa fa-check-square" aria-hidden="true"></i> 确认无误，下单~
              </button>
          </div>
  </form>
</section>
{/block}

{block name="javaScript"}
{__block__} 
<script src="/static/assets/js/cart.js"></script>
{/block}