{extend name="layout"} {block name="title"}
<title> 首页 </title>
{/block} {block name="content"}
<!-- 侧边分类导航 & 轮播图 & 右侧小图 -->
<section class="section-one">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 side-nav theme-color">
        <!-- 只查5个 -->
        {volist name="cates" id="cate"}
        <a href="javascript:;" class="navs">{$cate->name}</a>
        {/volist}
      </div>
      <div class="col-lg-8 carousel">
        <!-- 链接组 -->
        <div class="links theme-color-secondary">
          <h4>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;1热销商品</h4>
          <hr> {volist name="deals0" id="deal"}
          <a href="{:url('Index/info', ['id'=>$deal->id])}" class="link">{$deal->name}</a>
          {/volist}
        </div>
        <!-- 链接组 -->
        <div class="links theme-color-secondary">
          <h4>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;1热销商品</h4>
          <hr> {volist name="deals1" id="deal"}
          <a href="{:url('Index/info', ['id'=>$deal->id])}" class="link">{$deal->name}</a>
          {/volist}
        </div>
        <div class="links theme-color-secondary">
          <h4>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;1热销商品</h4>
          <hr> {volist name="deals2" id="deal"}
          <a href="{:url('Index/info', ['id'=>$deal->id])}" class="link">{$deal->name}</a>
          {/volist}
        </div>
        <div class="links theme-color-secondary">
          <h4>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;1热销商品</h4>
          <hr> {volist name="deals3" id="deal"}
          <a href="{:url('Index/info', ['id'=>$deal->id])}" class="link">{$deal->name}</a>
          {/volist}
        </div>
        <div class="links theme-color-secondary">
          <h4>
            <i class="fa fa-hand-o-right" aria-hidden="true"></i>&nbsp;1热销商品</h4>
          <hr> {volist name="deals4" id="deal"}
          <a href="{:url('Index/info', ['id'=>$deal->id])}" class="link">{$deal->name}</a>
          {/volist}
        </div>
        <div id="carousel" class="carousel slide" data-ride="carousel">
          <!-- 指示符 -->
          <ul class="carousel-indicators">
            <li data-target="#carousel" data-slide-to="0" class="active"></li>
            <li data-target="#carousel" data-slide-to="1"></li>
            <li data-target="#carousel" data-slide-to="2"></li>
          </ul>
          <!-- 轮播图片 -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <a href="{$tjw[0]->url}">
              <img src="/uploads/{$tjw[0]->image}">
              </a>
            </div>
            <div class="carousel-item">
              <a href="{$tjw[1]->url}">
              <img src="/uploads/{$tjw[1]->image}">
              </a>
            </div>
            <div class="carousel-item">
              <a href="{$tjw[2]->url}">
              <img src="/uploads/{$tjw[2]->image}">
              </a>
            </div>
          </div>
          <!-- 左右切换按钮 -->
          <a class="carousel-control-prev" href="#carousel" data-slide="prev">
            <span class="carousel-control-prev-icon"></span>
          </a>
          <a class="carousel-control-next" href="#carousel" data-slide="next">
            <span class="carousel-control-next-icon"></span>
          </a>
        </div>
      </div>
      <div class="col-lg-2 right-images">
        <div class="col-lg-12 images">
          <a href="{$tjw[3]->url}">
          <img src="/uploads/{$tjw[3]->image}" style="max-width: 100%">
          </a>
        </div>
        <div class="col-lg-12 images">
          <a href="{$tjw[4]->url}">
          <img src="/uploads/{$tjw[4]->image}" style="max-width: 100%">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- 商品推荐 -->
<section class="section-two text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-left">
        <h2>热销商品</h2>
        <hr>
      </div>
      {volist name="hotDeals" id="deal"}
      <div class="col-lg-2">
        <a href="{:url('Index/info', ['id'=>$deal->id])}">
          <div class="goods theme-color">
            <input type="hidden" class="goods-id" value="{$deal->id}">
            <img src="/uploads/{$deal->image}" class="goods-img">
            <p class="text-left">
              <del class="float-left">￥ {$deal->origin_price}</del>
              <b class="float-right">￥
                <span class="goods-price">{$deal->selling_price}</span>
              </b>
              <div class="clearfix"></div>
              <span class="goods-name">{$deal->name}</span>
            </p>
            <div class="item">
              <button class="theme-color-secondary put-into-cart-index">
                <i class="fa fa-plus" aria-hidden="true"></i> 添加到购物车</button>
            </div>
          </div>
        </a>
      </div>
      {/volist}
    </div>
  </div>
  </div>
</section>
{/block}