{include file="public/head"}
  <body>
    <!-- 导航 -->
    <div class="nav theme-color">
        <div class="user text-center">
          <a href="">
            <img class="user-avatar" src="/static/assets/img/admin.jpg">
            <span class="user-username">{$username}</span>
          </a>
        </div>
        <div class="sidebar theme-color-secondary">
          <a href="{:url('Index/index')}" class="navs home home-active">
            <i class="fa fa-home" aria-hidden="true"></i> 首页
            <i class="fa fa-caret-right float-right" aria-hidden="true"></i>
          </a>
          <!-- 商品 -->
          <a href="javascript:;" class="navs">
            <i class="fa fa-sitemap" aria-hidden="true"></i> 商品管理
            <i class="fa fa-caret-down float-right" aria-hidden="true"></i>
          </a>
          <div class="links theme-color">
            <a href="javascript:;" onclick="loadPage(this, '{:url(\'Bill/index\')}')" class="link"><i class="fa fa-bars" aria-hidden="true"></i>订单列表<i class="fa fa-caret-right float-right" aria-hidden="true"></i></a>
            <a href="javascript:;" onclick="loadPage(this, '{:url(\'Deal/create\')}')" class="link"><i class="fa fa-plus" aria-hidden="true"></i>添加商品<i class="fa fa-caret-right float-right" aria-hidden="true"></i></a>
            <a href="javascript:;" onclick="loadPage(this, '{:url(\'Deal/index\', [\'status\'=>0])}')" class="link"><i class="fa fa-clock-o" aria-hidden="true"></i>待审商品<i class="fa fa-caret-right float-right" aria-hidden="true"></i></a>
            <a href="javascript:;" onclick="loadPage(this, '{:url(\'Deal/index\', [\'status\'=>1])}')" class="link"><i class="fa fa-th-list" aria-hidden="true"></i>在售商品<i class="fa fa-caret-right float-right" aria-hidden="true"></i></a>
            <a href="javascript:;" onclick="loadPage(this, '{:url(\'Deal/index\', [\'status\'=>-1])}')" class="link"><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>下架商品<i class="fa fa-caret-right float-right" aria-hidden="true"></i></a>
          </div>
        </div>
    </div>

    <!-- 内容区域 -->
    <div class="box">
        <div class="header theme-color">
          <a href="{:url('User/logout')}" class="logout float-right">退出登陆</a>
        </div>
        <div class="content">
          <iframe src="{:url('Index/home')}" frameborder="0" id="page"></iframe>
        </div>
        <div class="footer theme-color-secondary text-center">
          &copy; horry
        </div>
    </div>

    {include file="public/common_js"}
  </body>
</html> 